
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
*/.DS_Store
*/*/.DS_Store


# datasets
data_kenshin/*
data_oct/*
data_xml/*
data_boundary/*

# outputs
outputs/*
params/*
figures/*
results/*

# legacy
legacy*

# JOIR
JOIR_model/*